 /* Footer.css */

/* Container styles */
.main-footer {
  background-color:#6d9b99;
  color: #fff;
  padding: 20px;
  width: 100%;
  
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  padding-top: 2em;
  /* position: relative;  */
  border-top: 0; 
  width: 100%; 
  text-decoration: none;  
  justify-content: space-between;
  flex-direction: column;
  line-height: 20px;
  margin-top: auto;
  min-height: 20vh;
  /* flex-grow: 1; */
 
}
.main-container{
  flex: 1; /* Occupy remaining available space */
  /* position: absolute; */

}


/* Column styles */
.col {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.col h4 {
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
.list-unstyled li a::before {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s;
}

.list-unstyled li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Social icons styles */
.socialicons {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
}

.socialicons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* Footer copyright text styles */
.row1 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  
}
