* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: rgb(72, 71, 71);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .logo-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .25rem;
    /* Add underline effect */
    position: relative;
  }
  
  .nav a::before {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the distance of the line from the text */
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the line thickness */
    background-color: #685ACF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s;
  }
  
  .nav a:hover {
    color: #fff; /* Change the link color on hover */
  }
  
  .nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .nav li.active {
    background-color: #555;
  }
  
  